{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %} Gerando Padrão {% endblock title %}

{% block content %}

    <div class="row title">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h1><center>Gerar arquivo</center></h1>
        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 form-group border border-dark rounded">
            <form method="POST" id="formGerar" name="formGerar">
                {% csrf_token %}

                <div class="col-md-12">
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-success btn-sm">Gerar arquivo</button>

                </div>

            </form>
        </div>

    </div>
{% endblock content %}

{% block javascript%}

{% endblock %}