{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %} Gerando Padrão {% endblock title %}

{% block content %}

<section class="content">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h1>Gerando Padrão</h1>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="col-md-12 form-group">
        <form method="POST" id="formGerar" name="formGerar">
            {% csrf_token %}

            <div class="col-md-12">
                {{ form|bootstrap }}

                <button type="submit" class="btn btn-success btn-sm">Gerar arquivo</button>

            </div>

        </form>

    </div>
</section>
{% endblock content %}

{% block javascript%}

{% endblock %}