<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/sidenav.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/gerar.css' %}">
</head>
<body>

<div class="content col-md-12">
    <div class="sidenav">
      <a href="{% url 'index' %}">Página Inicial</a>
      <a href="{% url 'generate' %}">Gerar arquivo</a>
      <a href="{% url 'departament' %}">Setor</a>
      <a href="{% url 'programs' %}">Programas</a>
    </div>
    <div class="main">
        {% block content%}

        {% endblock content %}


    </div>
</div>
<footer class="footer-copyright text-center py-2">
    <strong>Copyright &copy; 2019 JATECLOGIA Sistemas.</strong> Todos os direitos reservados.
</footer>

</body>
</html>